<div class="container">
  <div>
    <h2>Add Event</h2>
    <form (ngSubmit)="onSubmit()" #eventForm="ngForm">
      <!--Event Name-->
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text"
               class="form-control"
               id="name"
               placeholder="Event name"
               required
               [(ngModel)]="event.name"
               name="name"
               #name="ngModel">
        <div [hidden]="name.valid || name.pristine"
             class="alert alert-danger">
          Name is required
        </div>
      </div>

      <!--Event Date-->
      <div class="form-group">
        <label for="date">Date</label>
        <input type="datetime-local"
               class="form-control"
               id="date"
               placeholder="Event date"
               required
               [(ngModel)]="event.date"
               name="date"
               #date="ngModel">
        <div [hidden]="date.valid || date.pristine"
             class="alert alert-danger">
          Date is required
        </div>
      </div>

      <!--Event Place-->
      <div class="form-group">
        <label for="place">Place</label>
        <input type="text"
               class="form-control"
               id="place"
               placeholder="Event place"
               required
               [(ngModel)]="event.place"
               name="place"
               #place="ngModel">
        <div [hidden]="place.valid || place.pristine"
             class="alert alert-danger">
          Place is required
        </div>
      </div>

      <button type="submit"
              (click) = "onSubmit();eventForm.reset()"
              class="btn btn-success"
              [disabled]="!eventForm.form.valid">Submit
      </button>
    </form>
  </div>
</div>
